@media screen and (min-width: 320px){
    html{
        font-size: 10px;
    }

    .sobre__titulo, .contato__titulo, .habilidade__titulo{
        margin-top: 2em;
    }

    .principal{
        padding: 13em 0;
    }

    .logo__link{
        font-size: .8em;
    }

    .cabecalho__link{
        font-size: 1.5em;
    }

    .habilidades__container, .sobre__contaiber, .contato{
        padding: 5em 1em;
    }

    .habilidades__itens p{
        font-size: .9em;
    }

    .titulo__itens{
        font-size: 1.5em;
    }
    
    .imagem__itens{
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 600px){
    html{
        font-size: 14px;
    }

    .sobre__titulo, .contato__titulo, .habilidade__titulo{
        margin-top: 1em;
    }

    .principal{
        padding: 5em;
    }

    .logo__link{
        font-size: 1em;
    }


    .cabecalho__link{
        font-size: 1.25em;
    }

    .imagem__itens{
        height: 80px;
        width: 80px;
    }

    .habilidades__itens p{
        font-size: 1.1em;
    }

}

@media screen and (min-width: 768px){
    html{
        font-size: 15px;
    }

    .sobre__titulo, .contato__titulo, .habilidade__titulo{
        margin-top: 0;
    }

    .logo__link{
        font-size: 1.2em;
    }

    .principal{
        padding: 4em;
    }

    .imagem__itens{
        height: 90px;
        width: 90px;
    }
}

@media screen and (min-width: 920px){
    html{
        font-size: 16px;
    }

    .logo__link{
        font-size: 1.5;
    }

    .principal{
        margin: 3em;
        margin-bottom: 4.2em;
        padding: 0;
    }

    .habilidades__container, .sobre__contaiber, .contato{
        padding: 5em 2em;
    }
}

@media screen and (min-width: 1200px){
    .habilidades__container, .sobre__contaiber{
        padding: 5em 3em;
    }

    .logo__link{
        font-size: 1.75;
    }

    .titulo__itens{
        font-size: 2em;
    }

    .contato{
        padding: 5em 3em 3em 3em;
    }
    
    .imagem__itens{
        height: 100px;
        width: 100px;
    }
}